* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v1_2 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_7 {
  width: 367px;
  height: 94px;
  background: url("../images/v27_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 73px;
  overflow: hidden;
}
.v27_8 {
  width: 367px;
  height: 94px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_9 {
  width: 197px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 27px;
  left: 83px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_13 {
  width: 367px;
  height: 99px;
  background: url("../images/v27_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 320px;
  left: 951px;
  overflow: hidden;
}
.v27_14 {
  width: 367px;
  height: 99px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_15 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 40px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_6 {
  width: 367px;
  height: 99px;
  background: url("../images/v27_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 523px;
  overflow: hidden;
}
.v2_2 {
  width: 367px;
  height: 99px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_5 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 40px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_16 {
  width: 367px;
  height: 94px;
  background: url("../images/v27_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 325px;
  left: 527px;
  overflow: hidden;
}
.v27_17 {
  width: 367px;
  height: 94px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_18 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 40px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_19 {
  width: 367px;
  height: 94px;
  background: url("../images/v27_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 530px;
  overflow: hidden;
}
.v27_20 {
  width: 367px;
  height: 94px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_21 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 41px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_22 {
  width: 367px;
  height: 94px;
  background: url("../images/v27_22.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 623px;
  left: 953px;
  overflow: hidden;
}
.v27_23 {
  width: 367px;
  height: 94px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_24 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 21px;
  left: 41px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_25 {
  width: 367px;
  height: 94px;
  background: url("../images/v27_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 770px;
  left: 530px;
  overflow: hidden;
}
.v27_26 {
  width: 367px;
  height: 94px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_27 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 13px;
  left: 41px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_28 {
  width: 367px;
  height: 99px;
  background: url("../images/v27_28.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 463px;
  left: 953px;
  overflow: hidden;
}
.v27_29 {
  width: 367px;
  height: 99px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v27_30 {
  width: 280px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 14px;
  left: 40px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v27_31 {
  width: 82px;
  background: url("../images/v27_31.png");
  opacity: 1;
  position: absolute;
  top: 238px;
  left: 710px;
  border: 3px solid rgba(0,0,0,1);
}
.v27_32 {
  width: 92px;
  background: url("../images/v27_32.png");
  opacity: 1;
  position: absolute;
  top: 371px;
  left: 532px;
  border: 3px solid rgba(0,0,0,1);
  transform: rotate(-178deg);
}
.v27_33 {
  width: 73px;
  background: url("../images/v27_33.png");
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 892px;
  border: 3px solid rgba(0,0,0,1);
}
.v27_34 {
  width: 41px;
  background: url("../images/v27_34.png");
  opacity: 1;
  position: absolute;
  top: 422px;
  left: 1131px;
  border: 3px solid rgba(0,0,0,1);
}
.v27_35 {
  width: 203px;
  background: url("../images/v27_35.png");
  opacity: 1;
  position: absolute;
  top: 420px;
  left: 710px;
  border: 3px solid rgba(0,0,0,1);
}
.v27_36 {
  width: 59px;
  background: url("../images/v27_36.png");
  opacity: 1;
  position: absolute;
  top: 673px;
  left: 894px;
  border: 3px solid rgba(0,0,0,1);
}
.v27_37 {
  width: 72px;
  background: url("../images/v27_37.png");
  opacity: 1;
  position: absolute;
  top: 711px;
  left: 710px;
  border: 3px solid rgba(0,0,0,1);
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v2_10 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v6_24 {
  width: 242px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 476px;
  left: 659px;
  border: 1px solid rgba(2,2,2,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v14_5 {
  width: 242px;
  height: 59px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 659px;
  border: 1px solid rgba(2,2,2,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v2_14 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 346px;
  left: 392px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v14_3 {
  width: 245px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 476px;
  left: 392px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: right;
}
.v2_16 {
  width: 242px;
  height: 67px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 748px;
  left: 659px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v2_17 {
  width: 217px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 762px;
  left: 671px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_63 {
  width: 408px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 559px;
  left: 576px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v17_70 {
  width: 100%;
  height: 114px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 67px;
  left: 223px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_72 {
  width: 378px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 78px;
  left: 536px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 72px;
  opacity: 1;
  text-align: center;
}
.v27_2 {
  width: 56px;
  height: 58px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 628px;
  left: 675px;
  border-radius: 50%;
}
.v27_3 {
  width: 145px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 626px;
  left: 756px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_113 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v18_114 {
  width: 837px;
  height: 814px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 359px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v92_6 {
  width: 90px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 571px;
  left: 558px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v70_4 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 437px;
  left: 726px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v70_5 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 436px;
  left: 880px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v70_3 {
  width: 20px;
  height: 20px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 851px;
  border-radius: 50%;
}
.v18_122 {
  width: 307px;
  height: 25px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 296px;
  left: 697px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v18_123 {
  width: 307px;
  height: 25px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 365px;
  left: 697px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v18_125 {
  width: 307px;
  height: 25px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 503px;
  left: 697px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v18_126 {
  width: 307px;
  height: 25px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 572px;
  left: 697px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v18_116 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 221px;
  left: 508px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v18_115 {
  width: 472px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 553px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v18_117 {
  width: 30px;
  height: 29px;
  background: url("../images/v18_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 750px;
  left: 467px;
  border: 5px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_120 {
  width: 307px;
  height: 25px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 227px;
  left: 697px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v18_129 {
  width: 307px;
  height: 25px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 697px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v18_130 {
  width: 478px;
  height: 58px;
  background: rgba(27,167,245,0.9399999976158142);
  opacity: 1;
  position: absolute;
  top: 841px;
  left: 566px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v18_131 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 856px;
  left: 726px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v18_119 {
  width: 514px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 747px;
  left: 518px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v70_2 {
  width: 20px;
  height: 20px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 436px;
  left: 697px;
  border-radius: 50%;
}
.v92_2 {
  width: 125px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 294px;
  left: 538px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v92_3 {
  width: 82px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 363px;
  left: 566px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v92_4 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 432px;
  left: 586px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v92_5 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 503px;
  left: 568px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v92_7 {
  width: 131px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 635px;
  left: 520px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v3_4 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_6 {
  width: 100%;
  height: 81px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 45px;
  left: 61px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v5_9 {
  width: 427px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 45px;
  left: 471px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: PT Sans Caption;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v6_12 {
  width: 222px;
  height: 442px;
  background: url("../images/v6_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 117px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_14 {
  width: 236px;
  height: 442px;
  background: url("../images/v6_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 421px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_15 {
  width: 225px;
  height: 442px;
  background: url("../images/v6_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 739px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_16 {
  width: 304px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 845px;
  left: 61px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v6_18 {
  width: 301px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 827px;
  left: 380px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v6_19 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 827px;
  left: 792px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v6_21 {
  width: 234px;
  height: 442px;
  background: url("../images/v6_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 1046px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v6_22 {
  width: 150px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 827px;
  left: 1103px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_13 {
  width: 52px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 219px;
  left: 111px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_14 {
  width: 29px;
  background: url("../images/v15_14.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_15 {
  width: 29px;
  background: url("../images/v15_15.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_16 {
  width: 29px;
  background: url("../images/v15_16.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_17 {
  width: 52px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 1195px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_22 {
  width: 26px;
  height: 25px;
  background: url("../images/v15_22.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 15px;
  border-radius: 50%;
}
.v15_27 {
  width: 8px;
  height: 7px;
  background: url("../images/v15_27.png");
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 10px;
  border: 2px solid rgba(0,0,0,1);
}
.v15_29 {
  width: 601px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 232px;
  left: 571px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v7_43 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v26_6 {
  width: 67px;
  height: 35px;
  background: rgba(166,156,156,1);
  opacity: 0.10000000149011612;
  position: absolute;
  top: 865px;
  left: 971px;
}
.v7_44 {
  width: 430px;
  height: 665px;
  background: url("../images/v7_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 95px;
  border: 10px solid rgba(27,245,232,0.9399999976158142);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v7_45 {
  width: 504px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 200px;
  left: 691px;
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v7_47 {
  width: 291px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 696px;
  left: 797px;
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v7_52 {
  width: 708px;
  color: rgba(120,120,120,1);
  position: absolute;
  top: 179px;
  left: 618px;
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v15_30 {
  width: 52px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 95px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_31 {
  width: 29px;
  background: url("../images/v15_31.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_32 {
  width: 29px;
  background: url("../images/v15_32.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_33 {
  width: 29px;
  background: url("../images/v15_33.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v26_4 {
  width: 374px;
  height: 76px;
  background: rgba(130,228,106,1);
  opacity: 1;
  position: absolute;
  top: 920px;
  left: 745px;
  border: 1px solid rgba(0,0,0,1);
}
.v30_2 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 935px;
  left: 837px;
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v30_5 {
  width: 158px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 859px;
  left: 784px;
  font-family: PT Sans Caption;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v15_45 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v15_46 {
  width: 55px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 104px;
  left: 140px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_47 {
  width: 29px;
  background: url("../images/v15_47.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_48 {
  width: 29px;
  background: url("../images/v15_48.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_49 {
  width: 29px;
  background: url("../images/v15_49.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v15_50 {
  width: 49px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 1161px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_51 {
  width: 26px;
  height: 25px;
  background: url("../images/v15_51.png");
  opacity: 1;
  position: absolute;
  top: 9px;
  left: 15px;
  border-radius: 50%;
}
.v15_52 {
  width: 8px;
  height: 7px;
  background: url("../images/v15_52.png");
  opacity: 1;
  position: absolute;
  top: 28px;
  left: 10px;
  border: 2px solid rgba(0,0,0,1);
}
.v15_53 {
  width: 566px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 117px;
  left: 573px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_60 {
  width: 86px;
  color: rgba(0,0,0,0.5);
  position: absolute;
  top: 125px;
  left: 607px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v15_61 {
  width: 300px;
  height: 429px;
  background: url("../images/v15_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 331px;
  left: 573px;
  border: 2px solid rgba(27,245,232,0.9399999976158142);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v15_62 {
  width: 93px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 779px;
  left: 673px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v17_73 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v17_74 {
  width: 55px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 155px;
  left: 129px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v17_75 {
  width: 29px;
  background: url("../images/v17_75.png");
  opacity: 1;
  position: absolute;
  top: 13px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v17_76 {
  width: 29px;
  background: url("../images/v17_76.png");
  opacity: 1;
  position: absolute;
  top: 21px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v17_77 {
  width: 29px;
  background: url("../images/v17_77.png");
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 12px;
  border: 3px solid rgba(0,0,0,1);
}
.v17_86 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1191px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v36_9 {
  width: 100px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 1191px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.v17_88 {
  width: 84px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 67px;
  left: 1079px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v17_97 {
  width: 629px;
  height: 680px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 251px;
  left: 377px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_108 {
  width: 112px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 733px;
  left: 636px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_109 {
  width: 107px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 733px;
  left: 816px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_107 {
  width: 25px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 780px;
  border-radius: 50%;
}
.v18_100 {
  width: 329px;
  height: 41px;
  background: rgba(211,217,216,1);
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 594px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_101 {
  width: 329px;
  height: 41px;
  background: rgba(211,217,216,1);
  opacity: 1;
  position: absolute;
  top: 447px;
  left: 594px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_102 {
  width: 329px;
  height: 41px;
  background: rgba(211,217,216,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 594px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_103 {
  width: 329px;
  height: 40px;
  background: rgba(211,217,216,1);
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 594px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_104 {
  width: 329px;
  height: 40px;
  background: rgba(211,217,216,1);
  opacity: 1;
  position: absolute;
  top: 664px;
  left: 594px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v18_99 {
  width: 329px;
  height: 41px;
  background: rgba(211,217,216,1);
  opacity: 1;
  position: absolute;
  top: 307px;
  left: 594px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v17_98 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 310px;
  left: 450px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_106 {
  width: 25px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 594px;
  border-radius: 50%;
}
.v18_110 {
  width: 338px;
  height: 58px;
  background: rgba(130,228,106,1);
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 532px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v18_111 {
  width: 178px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 832px;
  left: 619px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v18_112 {
  width: 466px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 166px;
  left: 459px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v92_8 {
  width: 96px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 383px;
  left: 450px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v92_9 {
  width: 83px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 453px;
  left: 463px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v92_10 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 524px;
  left: 437px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v92_11 {
  width: 103px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 600px;
  left: 443px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v92_12 {
  width: 80px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 670px;
  left: 466px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v92_13 {
  width: 60px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 734px;
  left: 486px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v27_39 {
  width: 100%;
  height: 1024px;
  background: rgba(243,243,234,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v36_8 {
  width: 282px;
  height: 535px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 74px;
  left: 33px;
  overflow: hidden;
}
.v37_15 {
  width: 243px;
  height: 51px;
  background: rgba(27,167,245,0.9399999976158142);
  opacity: 1;
  position: absolute;
  top: 183px;
  left: 53px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v37_14 {
  width: 243px;
  height: 51px;
  background: rgba(27,167,245,0.9399999976158142);
  opacity: 1;
  position: absolute;
  top: 429px;
  left: 53px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v37_12 {
  width: 243px;
  height: 51px;
  background: rgba(27,167,245,0.9399999976158142);
  opacity: 1;
  position: absolute;
  top: 305px;
  left: 53px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v36_10 {
  width: 102px;
  height: 100px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 1305px;
  border-radius: 50%;
}
.v37_17 {
  width: 53px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 65px;
  left: 1327px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v37_16 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 61px;
  left: 1179px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v38_22 {
  width: 216px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 307px;
  left: 65px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v38_23 {
  width: 100%;
  height: 297px;
  background: rgba(219,219,208,1);
  opacity: 1;
  position: absolute;
  top: 193px;
  left: 365px;
  overflow: hidden;
}
.v38_24 {
  width: 100%;
  height: 264px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 209px;
  left: 379px;
  overflow: hidden;
}
.v40_52 {
  width: 100px;
  color: rgba(50,0,255,1);
  position: absolute;
  top: 305px;
  left: 1190px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_51 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 995px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_50 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 302px;
  left: 837px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_49 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 305px;
  left: 700px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_48 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 307px;
  left: 535px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_47 {
  width: 148px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 296px;
  left: 395px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_44 {
  width: 100px;
  color: rgba(50,0,255,1);
  position: absolute;
  top: 269px;
  left: 1190px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_42 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 995px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_40 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 837px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v39_34 {
  width: 102px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 258px;
  left: 413px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v39_25 {
  width: 22px;
  height: 86px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 1368px;
  overflow: hidden;
}
.v39_26 {
  width: 961px;
  height: 34px;
  background: rgba(238,234,234,1);
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 395px;
  overflow: hidden;
}
.v40_43 {
  width: 174px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 1153px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_41 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 975px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_39 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 819px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_36 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 680px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v39_33 {
  width: 139px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 224px;
  left: 524px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v39_29 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 227px;
  left: 404px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v40_35 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 269px;
  left: 535px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_38 {
  width: 100px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 264px;
  left: 700px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_45 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 169px;
  left: 359px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v40_46 {
  width: 212px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 441px;
  left: 71px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v41_53 {
  width: 533px;
  height: 18px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 455px;
  left: 393px;
  overflow: hidden;
}
.v41_54 {
  width: 285px;
  height: 57px;
  background: rgba(131,228,107,1);
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 742px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v42_66 {
  width: 285px;
  height: 57px;
  background: rgba(131,228,107,1);
  opacity: 1;
  position: absolute;
  top: 947px;
  left: 742px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v41_56 {
  width: 262px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 526px;
  left: 752px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v41_58 {
  width: 212px;
  color: rgba(2,2,2,1);
  position: absolute;
  top: 198px;
  left: 67px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_60 {
  width: 100%;
  height: 292px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 359px;
  overflow: hidden;
}
.v42_61 {
  width: 200px;
  height: 292px;
  background: url("../images/v42_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 641px;
  left: 65px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v42_62 {
  width: 320px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 607px;
  left: 343px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_63 {
  width: 258px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 965px;
  left: 44px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_64 {
  width: 421px;
  height: 222px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 693px;
  left: 379px;
  overflow: hidden;
}
.v42_65 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 657px;
  left: 345px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_67 {
  width: 184px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 966px;
  left: 791px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_68 {
  width: 392px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 705px;
  left: 387px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v42_69 {
  width: 531px;
  height: 222px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 694px;
  left: 830px;
  overflow: hidden;
}
.v42_102 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 811px;
  left: 819px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_103 {
  width: 200px;
  color: rgba(13,8,255,1);
  position: absolute;
  top: 805px;
  left: 1136px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_75 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 709px;
  left: 1303px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_72 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 709px;
  left: 1045px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_73 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 709px;
  left: 1131px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_74 {
  width: 22px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 709px;
  left: 1215px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_71 {
  width: 132px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 709px;
  left: 843px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_76 {
  width: 22px;
  height: 17px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1081px;
  overflow: hidden;
}
.v42_98 {
  width: 72px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 768px;
  left: 1045px;
  overflow: hidden;
}
.v42_101 {
  width: 72px;
  height: 23px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 806px;
  left: 1045px;
  overflow: hidden;
}
.v42_77 {
  width: 22px;
  height: 17px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1168px;
  overflow: hidden;
}
.v42_78 {
  width: 22px;
  height: 17px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1246px;
  overflow: hidden;
}
.v42_79 {
  width: 22px;
  height: 17px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 709px;
  left: 1331px;
  overflow: hidden;
}
.v42_97 {
  width: 200px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 768px;
  left: 830px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_99 {
  width: 59px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 774px;
  left: 1049px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v42_100 {
  width: 72px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 806px;
  left: 1045px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
