<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=PT+Sans+Caption&display=swap" rel="stylesheet" /><link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /><link href="/static/css/main.css" rel="stylesheet" />
        <title>Listado de peliculas</title>
    </head>
    <body>
        <div class="v3_4"><div class="v5_6"></div><span class="v5_9">Cartelera</span>
        <div class="v6_12"></div>
        <div class="v6_14"></div>
        <div class="v6_15"></div><span class="v6_16">Transformers 2D</span>
        <span class="v6_18">Como entrenar a mi  dragon  2D</span>
        <span class="v6_19">The upside 2D</span><div class="v6_21"></div><span class="v6_22">Dragon ball  Z 2D</span><div class="v15_13"><div class="v15_14"></div><div class="v15_15"></div><div class="v15_16"></div></div><div class="v15_17"><div class="v15_22"></div><div class="v15_27"></div></div><div class="v15_29"></div></div>
    </body>
</html>