<!DOCTYPE html>
<html lang="es"> 
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" /><link href="\static\css\main.css" rel="stylesheet" />
        <title>Perfil de usuario</title>
    </head>
    <body>
        <div class="v17_73"><div class="v17_74"><div class="v17_75"></div><div class="v17_76"></div><div class="v17_77"></div></div><div class="v17_86"></div><div class="v36_9"></div><span class="v17_88">Usuario</span><div class="v17_97"></div><span class="v18_108">Masculino</span><span class="v18_109">Femenino</span><div class="v18_107"></div><div class="v18_100"></div><div class="v18_101"></div><div class="v18_102"></div><div class="v18_103"></div><div class="v18_104"></div><div class="v18_99"></div><span class="v17_98">Nombre:</span><div class="v18_106"></div><div class="v18_110"></div><span class="v18_111">Actualizar Datos</span><span class="v18_112">Informacion Personal</span><span class="v92_8">Apellido:</span><span class="v92_9">Ciudad:</span><span class="v92_10">Direccion:</span><span class="v92_11">Telefono:</span><span class="v92_12">Correo:</span><span class="v92_13">Sexo:</span></div>
    </body>
</html>